{% extends "base.html" %}

{% block title %}ACCC Enrollment{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-12 col-lg-12 mb-4">  <!-- Two-column layout -->
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Enrollment</h5>
                </div>
                <div class="card-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#bydepartment">By Department</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#byroom">By Room</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu2">Menu 2</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="bydepartment" class="container tab-pane active"><br>
                            <table class="table table-striped table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Name</th>
                                        <th>Enrollment %</th>
                                        <th>Open Seats</th>
                                        <th>Capacity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                    {% for department in departments %}
                                        <tr> 
                                            <td>{{ department.name }} </td> 
                                            <td>{{ department.enrollmentpercent|floatformat:2 }}</td> 
                                            <td> {{department.openseats }} </td>
                                            <td> {{department.capacity}} </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tr></tr>
                            </table>
                        </div>
                        <div id="byroom" class="container tab-pane fade"><br>
                            <table class="table table-striped table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Name</th>
                                        <th>Enrollment %</th>
                                        <th>Open Seats</th>
                                        <th>Capacity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                    {% for room in rooms %}
                                        <tr> 
                                            <td>{{ room.name }} </td> 
                                            <td>{{ room.enrollmentpercent|floatformat:2 }}</td> 
                                            <td> {{room.openseats }} </td>
                                            <td> {{room.capacity}} </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tr></tr>
                            </table>
                        </div>
                        <div id="menu2" class="container tab-pane fade"><br>
                        <h3>Menu 2</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
{% endblock content %}